{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nolawi</title>
    <link rel="stylesheet" href="./static/styles/main.css" >
</head>
<body>
    <header>
    <h1>Nolawi todo app</h1>
    {%block content%}
    <form id="new-task-form"method="POST" action="">
        {% csrf_token %}
        <input type="text" id="new-task-input" name="todo_name" placeholder="what do you have planned"/>
        <input type ="submit" id="new-task-submit" value="add task" name="todo_submit" />
     
    </form>
     
    {% endblock content %}
</header>    

</body>
</html>