body {
    background-color: rgb(208, 215, 201);
}

.navbar nav {
    background-color: darkslategray;
}


/* .logo img {
    width: 10%;
    height: auto;
} */

h1 {
    font-size: 100px;
    text-align: center;
}

h2 {
    text-align: center;
}